<div class="container py-5">
  <div class="d-grid d-flex justify-content-end">
    <button class="btn btn-sm btn-danger disabled">
      - 50% Requerido
    </button>
    <button class="btn btn-sm btn-warning disabled">
      + 50% Requerido
    </button>
    <button class="btn btn-sm btn-success disabled">
      100% Requerido
    </button>
    <button class="btn btn-sm btn-primary disabled">
      + 100% Requerido
    </button>
  </div>
  <div class="card">
    <div class="bg-primary py-3 px-5 text-white d-flex justify-content-between">
      <h4>Estadisticas de equipo</h4>
    </div>
    <div class="card-body">
      <form class="row m-4 d-flex justify-content-center align-items-center align-items-center"
        [formGroup]="searchForm">
        <div class="form-group col-md-6 col-lg-4 pt-2">
          <label class="fw-bold form-label">Estado por zona</label>
          <ng-select [items]="dataZones" [searchable]="false" class="custom-select rounded" bindLabel="nombre"
            (change)="getSelectedZone($event)" bindValue="nombre_departamento_votacion" placeholder="Seleccione zona"
            notFoundText="No hay informacion disponible" formControlName="zonas">
          </ng-select>
        </div>
        <div class="form-group col-md-6 col-lg-4 pt-2">
          <label class="fw-bold form-label">Estado por puesto</label>
          <ng-select [items]="dataStations" class="custom-select rounded" bindLabel="nombre" bindValue="codigo_unico"
            (change)="getSelectedStation($event)" notFoundText="No hay informacion disponible"
            placeholder="Seleccione puesto" formControlName="puestos">
          </ng-select>
        </div>
      </form>
    </div>
  </div>
  <ng-container [ngSwitch]="tabla">
    <div class="card mt-5" *ngSwitchCase="'coordinador'">
      <div class="card-body">
        <div class="table-responsive" *ngIf="tabla">
          <table class="table text-center align-middle">
            <thead class="text-dark align-middle">
              <tr>
                <th scope="col">COORDINADORES</th>
                <th scope="col">COORDINADORES POR ASIGNAR</th>
                <th scope="col">TESTIGOS</th>
                <th scope="col">TESTIGOS POR ASIGNAR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td
                  [ngClass]="{'text-success':percent==100,'text-danger':percent<=50,'text-warning':percent>=50,'text-primary':percent>100}">
                  {{coordinadores.coordinadores_con_puesto}}/{{coordinadores.cantidad_coordinadores_necesitados}}
                  {{createPercent(coordinadores.coordinadores_con_puesto,coordinadores.cantidad_coordinadores_necesitados)}}
                </td>
                <td>
                  {{coordinadores.coordinadores_sin_puesto}}
                </td>
                <td
                  [ngClass]="{'text-success':percent==100,'text-danger':percent<=50,'text-warning':percent>=50,'text-primary':percent>100}">
                  {{testigos.testigos_con_mesa}}/{{testigos.cantidad_testigos_necesitados}}
                  {{createPercent(testigos.testigos_con_mesa,testigos.cantidad_testigos_necesitados)}}
                </td>
                <td>
                  {{testigos.testigos_sin_mesa}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card mt-5" *ngSwitchCase="'testigo'">
      <div class="card-body">
        <div class="table-responsive" *ngIf="tabla">
          <table class="table text-center align-middle">
            <thead class="text-dark align-middle">
              <tr>
                <th scope="col">TESTIGOS</th>
                <th scope="col">TESTIGOS POR ASIGNAR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td
                  [ngClass]="{'text-success':percent==100,'text-danger':percent<=50,'text-warning':percent>=50,'text-primary':percent>100}">
                  {{testigosCoordinador.testigos_con_mesa}}/{{testigosCoordinador.cantidad_testigos_necesitados}}
                  {{createPercent(testigosCoordinador.testigos_con_mesa,testigosCoordinador.cantidad_testigos_necesitados)}}
                </td>
                <td>
                  {{testigosCoordinador.testigos_sin_mesa}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</div>