<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

  <div class="container-fluid ">
    <a class="navbar-brand mx-4" href="#"><img src="../../../assets/logoTheVoteRadar.png" class="img-logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ">
        <li class="nav-item  d-flex align-items-center">
          <a class="nav-link px-3" aria-current="page" routerLink="/adminHome">Inicio</a>
        </li>
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="nav-link px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Crear Usuario
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-white" routerLink="/crearGerente">Crear Gerente</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown  d-flex align-items-center">
          <a class="nav-link px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Personas
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-white" href="#" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasAgregar">Gerentes</a></li>
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item dropdown my-auto ">
          <a class="nav-link px-3 mx-4 d-flex flex-column align-items-center" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle fa-3x icono"></i>
            <p class="my-0">admin</p>
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-white" href="#" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDatos">Actualizar Datos</a></li>
            <li><a class="dropdown-item text-white">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Desplegable Agregar Gerentes-->


<div class="offcanvas offcanvas-start w-35 " tabindex="-1" id="offcanvasAgregar" data-bs-keyboard="false">

  <div class="d-flex align-items-end flex-column bg-body">

    <div class="offcanvas-header">
      <h4 class="offcanvas-title ps-auto text-white" id="offcanvas">Gerentes</h4>
      <div class="d-flex align-items-end">
        <button type="button" class="btn  p-0" data-bs-dismiss="offcanvas" aria-label="Close"> <i
            class="fa-solid fa-circle-xmark fa-2xl text-white "></i></button>
      </div>
    </div>

    <div class="btn-group dropend ms-auto pe-2">

      <button type="button" class="btn btn-primary btn-lg rounded-circle mb-2" aria-expanded="false"
        routerLink="/crearGerente">
        <i class="fas fa-plus "></i>
      </button>
    </div>
  </div>
  <div class="offcanvas-body px-0 bg-dark border border-primary border-5 border-top-0 border-bottom-0 border-start-0">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
      <h2 class="text-white">Gerentes con municipio asignado</h2>
      <div
        class="d-flex align-items-end flex-column px-3 w-100 text-white border border-white border-top-0 border-end-0 border-start-0"
        *ngFor="let gerente of listGerenteAsignados">
        <div class="row w-100">
          <div class="col-10">
            <h4>{{ gerente.nombres}} {{gerente.apellidos}}</h4>
          </div>
          <div class="col-2">
            <button class="btn btn-dark rounded-circle" s><i class="fas fa-pen text-primary"
                routerLink="/editarGerente/{{gerente.id}}"></i></button>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-3">
            <p>{{gerente.numero_documento}}</p>
          </div>
          <div class="col-7">
            <p>{{gerente.email}}</p>
          </div>
          <div class="col-2 ">
            <!-- <button class="btn btn-dark rounded-circle" (click)="eliminarUsuario(gerente.id)"><i
                class="fas fa-trash text-primary"></i></button> -->
          </div>
        </div>
      </div>
      <h2 class="text-white">Gerentes sin municipio asignado</h2>
      <div
        class="d-flex align-items-end flex-column px-3 w-100 text-white border border-white border-top-0 border-end-0 border-start-0"
        *ngFor="let gerente of listGerenteNoAsignados">
        <div class="row w-100">
          <div class="col-10">
            <h4>{{ gerente.nombres}} {{gerente.apellidos}}</h4>
          </div>
          <div class="col-2">
            <button class="btn btn-dark rounded-circle" s><i class="fas fa-pen text-primary"
                routerLink="/editarGerente/{{gerente.id}}"></i></button>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-3">
            <p>{{gerente.numero_documento}}</p>
          </div>
          <div class="col-7">
            <p>{{gerente.email}}</p>
          </div>
          <div class="col-2 ">
            <!-- <button class="btn btn-dark rounded-circle" (click)="eliminarUsuario(gerente.id)"><i
                class="fas fa-trash text-primary"></i></button> -->
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>