<footer class="bg-dark py-2">
    <ul class="list-inline text-start redes m-0 w-100 ps-md-5 pt-3 text-center">
        <li class="list-inline-item px-2">
            <a class="text-white text-decoration-none d-flex justify-content-center align-items-center"
                href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f fa-xl"></i></a>
        </li>
        <li class="list-inline-item px-2">
            <a class="text-white text-decoration-none d-flex justify-content-center align-items-center"
                href="https://www.instagram.com/?hl=es" target="blank"><i class="fab fa-instagram fa-xl"></i></a>
        </li>
        <li class="list-inline-item px-2">
            <a class="text-white text-decoration-none d-flex justify-content-center align-items-center"
                href="https://www.whatsapp.com/?lang=es" target="blank"><i class="fab fa-whatsapp fa-xl"></i></a>
        </li>
        <li class="list-inline-item px-2">
            <a class="text-white text-decoration-none d-flex justify-content-center align-items-center"
                href="https://twitter.com/?lang=es" target="blank"><i class="fab fa-twitter fa-xl"></i></a>
        </li>
    </ul>
</footer>