<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="c-contactos bg-primary pb-3">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title text-white" id="offcanvas">Tus contactos</h4>
      <div class="d-flex align-items-end">
        <button
          type="button"
          class="btn p-0"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="fa-solid fa-xmark text-white fa-2xl"></i>
        </button>
      </div>
    </div>
    <div class="text-end">
      <button
        type="button"
        class="btn text-white"
        [ngbPopover]="popCreateContent"
        placement="{{ innerWidth >= 720 ? 'end-top' : 'bottom-end' }}"
        [autoClose]="'outside'"
      >
        <i class="fa-solid fa-circle-plus fa-2x"></i>
      </button>
      <ng-template #popCreateContent>
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col-6">
              <input
                type="name"
                class="form-control"
                placeholder="Ingrese nombres"
                formControlName="nombres"
                (keypress)="keypressValidator.keyPressLetters($event)"
              />
            </div>
            <div class="col-6">
              <input
                type="name"
                class="form-control"
                placeholder="Ingrese apellidos"
                formControlName="apellidos"
                (keypress)="keypressValidator.keyPressLetters($event)"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <input
                type="name"
                class="form-control"
                placeholder="¿Como le dices?"
                formControlName="apodo"
                (keypress)="keypressValidator.keyPressLetters($event)"
              />
            </div>
            <div class="col-6">
              <input
                type="name"
                class="form-control"
                placeholder="¿Como te dice?"
                formControlName="como_te_dice"
                (keypress)="keypressValidator.keyPressLetters($event)"
              />
            </div>
          </div>
          <div class="mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese número de contacto"
              formControlName="numero_contacto"
              (keypress)="keypressValidator.keyPressNumbers($event)"
            />
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
  <div
    class="offcanvas-body px-0 bg-secondary border border-primary border-5 border-top-0 border-bottom-0 border-start-0"
  >
    <ng-container *ngIf="listContactos.length > 0; else other_content">
      <ng-container *ngFor="let contacto of listContactos">
        <div class="row mx-2 text-dark">
          <div class="col-11 row">
            <h3 class="fw-bolder">{{ contacto.apodo }}</h3>
            <div class="col-7">
              {{ contacto.nombres }} {{ contacto.apellidos }}
            </div>
            <div class="col-5">
              {{ contacto.numero_contacto }}
            </div>
            <small>
              <span class="fw-bolder">Me dice: </span>
              {{ contacto.como_te_dice }}
            </small>
          </div>
          <div class="col-1">
            <button
              type="button"
              class="btn"
              [ngbPopover]="popUpdateContent"
              (click)="updateData(contacto)"
              placement="{{ innerWidth >= 720 ? 'end-top' : 'bottom-end' }}"
              [autoClose]="'outside'"
            >
              <i class="fa-solid fa-pen"></i>
            </button>
            <ng-template #popUpdateContent>
              <form
                [formGroup]="updateForm"
                (ngSubmit)="onSubmitItem(contacto.id)"
              >
                <div class="row mb-3">
                  <div class="col-6">
                    <input
                      type="name"
                      class="form-control"
                      placeholder="Ingrese nombres"
                      formControlName="nombres"
                      (keypress)="keypressValidator.keyPressLetters($event)"
                    />
                  </div>
                  <div class="col-6">
                    <input
                      type="name"
                      class="form-control"
                      placeholder="Ingrese apellidos"
                      formControlName="apellidos"
                      (keypress)="keypressValidator.keyPressLetters($event)"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-6">
                    <input
                      type="name"
                      class="form-control"
                      placeholder="¿Como le dices?"
                      formControlName="apodo"
                      (keypress)="keypressValidator.keyPressLetters($event)"
                    />
                  </div>
                  <div class="col-6">
                    <input
                      type="name"
                      class="form-control"
                      placeholder="¿Como te dice?"
                      formControlName="como_te_dice"
                      (keypress)="keypressValidator.keyPressLetters($event)"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese numero de contacto"
                    formControlName="numero_contacto"
                    (keypress)="keypressValidator.keyPressNumbers($event)"
                  />
                </div>
                <div class="mb-3 text-end">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form>
            </ng-template>
            <button
              type="button"
              class="btn"
              (click)="deleteContacto(contacto.id)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
        <hr class="bg-primary" />
      </ng-container>
    </ng-container>
    <ng-template #other_content>
      <p class="text-center">No tiene contactos.</p>
    </ng-template>
  </div>
</div>
