<form class="container py-5" [formGroup]="createForm">
    <div class="card">
        <div class="bg-primary py-3 px-5 text-white">
            <h4 class="m-0">
                Editar rol
            </h4>
        </div>
        <div class="card-body">
            <div class="row mx-4 my-4">
                <div class="form-group col-md-6 col-lg-4 pt-2">
                    <label class="form-label">
                        <span class="fw-bold">Rol</span>
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select [searchable]="false" class="custom-select rounded" placeholder="Seleccione rol">
                        <ng-option [value]="2">Gerente</ng-option>
                        <ng-option [value]="3">Supervisor</ng-option>
                        <ng-option [value]="4">Coordinador</ng-option>
                        <ng-option [value]="5">Testigo</ng-option>
                    </ng-select>
                </div>
                <div class="form-group col-md-6 col-lg-4 pt-2">
                    <label class="fw-bold form-label">
                        <span class="fw-bold">Departamento</span>
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select [items]="dataDepartments" [searchable]="false" class="custom-select rounded"
                        bindLabel="nombre_departamento_votacion" bindValue="codigo_unico"
                        formControlName="departamentos" notFoundText="No hay informacion disponible"
                        placeholder="Seleccione departamento">
                    </ng-select>
                </div>
                <div class="form-group col-md-6 col-lg-4 pt-2">
                    <label class="fw-bold form-label">Municipios</label>
                    <ng-select [items]="dataMunicipals" class="custom-multiple-select rounded" bindLabel="nombre"
                        bindValue="codigo_unico" formControlName="municipios" [multiple]="true"
                        notFoundText="No hay informacion disponible" placeholder="Seleccione municipio">
                    </ng-select>
                </div>
                <div class="form-group col-md-6 col-lg-4 pt-2">
                    <label class="fw-bold form-label">
                        <span class="fw-bold">Zona</span>
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select [items]="dataZones" class="custom-select rounded" bindLabel="nombre"
                        bindValue="codigo_unico" placeholder="Seleccione zona"
                        notFoundText="No hay informacion disponible" formControlName="zonas">
                    </ng-select>
                </div>
                <div class="form-group col-md-6 col-lg-4 pt-2">
                    <label class="fw-bold form-label">
                        <span class="fw-bold">Puesto</span>
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select [items]="dataStations" class="custom-select rounded" bindLabel="nombre"
                        bindValue="codigo_unico" notFoundText="No hay informacion disponible"
                        placeholder="Seleccione puesto" formControlName="puestos">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end pt-4">
        <button type="submit" class="btn btn-lg btn-primary mx-2 rounded">EDITAR
        </button>
    </div>
</form>