<div class="container py-5">
  <div class="card">
    <div class="bg-primary py-3 px-5 text-white">
      <h4>Hola {{ nombreCoordinador }}</h4>
    </div>
    <div class="card-body"></div>
    <div [hidden]="!tabla">
      <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
        <li class="nav-item" id="tab1">
          <button
            class="nav-link h4 px-md-5 active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#porrevisar"
            type="button"
            role="tab"
          >
            POR REVISAR (E14)
          </button>
        </li>
        <li class="nav-item" id="tab2">
          <button
            class="nav-link h4 px-md-5"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#revisados"
            type="button"
            role="tab"
          >
            POR REVISAR (TRANSMISION)
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="porrevisar"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card mt-3">
            <div class="card-body">
              <div
                class="table-responsive my-4"
                [hidden]="dataImpugnar.length <= 0"
              >
                <table
                  id="second-table"
                  datatable
                  [dtOptions]="dtOptions[1]"
                  [dtTrigger]="dtTrigger2"
                  class="table text-center align-middle w-100"
                >
                  <thead class="text-dark align-middle">
                    <tr>
                      <th scope="col">DEPARTAMENTO</th>
                      <th scope="col">MUNICIPIO</th>
                      <th scope="col">ZONA</th>
                      <th scope="col">PUESTO</th>
                      <th scope="col">MESA</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-white" *ngFor="let impugnar of dataImpugnar">
                      <td>{{ impugnar.departamento }}</td>
                      <td>{{ impugnar.municipio }}</td>
                      <td>{{ impugnar.zona }}</td>
                      <td>{{ impugnar.puesto }}</td>
                      <td>{{ impugnar.mesa }}</td>
                      <td>
                        <button
                          class="btn align-middle mx-1"
                          data-bs-toggle="modal"
                          data-bs-target="#impugnadosmodal"
                          (click)="ModalImpugnarActual(impugnar)"
                        >
                          <i class="fa-solid fa-eye text-primary"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="dataImpugnar.length <= 0">
                <p class="text-center mb-0">No hay reportes por impugnar.</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="revisados"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
              <h5 class="modal-title" id="exampleModalLabel">
                <strong>Vista revisados</strong>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
