<app-menu-admin></app-menu-admin>
<section id="mundo">
  <div class="container py-4">
    <div class="row d-flex justify-content-center bg-primary text-center text-white py-4 mx-1">
      <div class="col-md-4">CAMPAÑA: &nbsp; #1</div>
      <div class="col-md-4">DEPARTAMENTO: &nbsp; Bogota D.C</div>
    </div>
    <div class="ratio mt-4" style="--bs-aspect-ratio: 50%;">
      <iframe src="https://www.youtube.com/embed/SQNtGoM3FVU" title="YouTube video" allowfullscreen></iframe>
    </div>
  </div>
  <div class="ms-auto my-4 py-2 px-3 welcomeAdmin d-flex align-items-center">
    <h3 class="mb-0 fw-bolder text-dark">Bienvenido Administrador</h3>
  </div>
</section>
<app-footer></app-footer>