$primary: #64248b;
$info: #64248b;
$dark: #000;

.welcomeAdmin {
    background: white;
    width: 35%;
    top: 81%;
    right: 0px;
    height: 65px;
    display: block;
    position: absolute;
    padding-left: 1.5rem !important;
    z-index: 1;
    border-left: 2px solid $primary !important;
    border-top: 2px solid $primary !important;
    border-bottom: 2px solid $primary !important;
}

.welcomeAdmin::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -27px;
    width: 45px;
    height: 65px;
    background: white;
    transform: skew(30deg);
    border-left: 2px solid $primary !important;
    border-top: 2px solid $primary !important;
    border-bottom: 2px solid $primary !important;
}

@media (max-width: 992px) {

    .welcomeAdmin {
        top: 75%;
        width: 45%;
    }

}

@media (max-width: 768px) {

    .welcomeAdmin {
        top: 75%;
        width: 75%;
        padding-left: 2rem !important;
    }

}

