<app-menu-admin></app-menu-admin>
<div class="container py-5">
  <div class="card">
    <div class="bg-primary py-3 px-5 text-white">
      <h4>Consulta de puestos</h4>
    </div>
    <div class="card-body">
      <div class="row m-4 d-flex justify-content-center align-items-center align-items-center">
        <div class="form-group col-md-6 col-lg-4 pt-2">
          <label class="fw-bold form-label">Departamentos</label>
          <ng-select [items]="dataDepartments" [searchable]="false" class="custom-select rounded"
            bindLabel="nombre_departamento_votacion" bindValue="nombre_departamento_votacion"
            (change)="getSelectedDepartment($event)" notFoundText="No hay informacion disponible">
          </ng-select>
        </div>
      </div>
      <div class="table-responsive" *ngIf="tabla">
        <table class="table text-center align-middle">
          <thead class="text-dark align-middle">
            <tr>
              <th scope="col">GERENTES</th>
              <th scope="col">GERENTES POR ASIGNAR</th>
              <th scope="col">SUPERVISORES</th>
              <th scope="col">SUPERVISORES POR ASIGNAR</th>
              <th scope="col">COORDINADORES</th>
              <th scope="col">COORDINADORES POR ASIGNAR</th>
              <th scope="col">TESTIGOS</th>
              <th scope="col">TESTIGOS POR ASIGNAR</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <td
                [ngClass]="textColor(data.gerentes.cantidad_gerentes_existentes,data.gerentes.cantidad_gerentes_necesitados)">
                {{data.gerentes.cantidad_gerentes_existentes}}/{{data.gerentes.cantidad_gerentes_necesitados}}
                ({{(data.gerentes.cantidad_gerentes_existentes/data.gerentes.cantidad_gerentes_necesitados)*100}}%)
              </td>
              <td>
                {{data.gerentes.cantidad_gerentes_por_asignar}}
              </td>
              <td
                [ngClass]="textColor(data.supervisores.cantidad_supervisores_existentes,data.supervisores.cantidad_supervisores_necesitados)">
                {{data.supervisores.cantidad_supervisores_existentes}}/{{data.supervisores.cantidad_supervisores_necesitados}}
                ({{(data.supervisores.cantidad_supervisores_existentes/data.supervisores.cantidad_supervisores_necesitados)*100}}%)
              </td>
              <td>
                {{data.supervisores.cantidad_supervisores_por_asignar}}
              </td>
              <td
                [ngClass]="textColor(data.coordinadores.cantidad_coordinadores_existentes,data.coordinadores.cantidad_coordinadores_necesitados)">
                {{data.coordinadores.cantidad_coordinadores_existentes}}/{{data.coordinadores.cantidad_coordinadores_necesitados}}
                ({{(data.coordinadores.cantidad_coordinadores_existentes/data.coordinadores.cantidad_coordinadores_necesitados)*100}}%)
              </td>
              <td>
                {{data.coordinadores.cantidad_coordinadores_por_asignar}}
              </td>
              <td
                [ngClass]="textColor(data.testigos.cantidad_testigos_existentes,data.testigos.cantidad_testigos_necesitados)">
                {{data.testigos.cantidad_testigos_existentes}}/{{data.testigos.cantidad_testigos_necesitados}}
                ({{(data.testigos.cantidad_testigos_existentes/data.testigos.cantidad_testigos_necesitados)*100}}%)
              </td>
              <td>
                {{data.testigos.cantidad_testigos_por_asignar}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>