<div class="container py-5">
  <div class="d-grid d-flex justify-content-end">
    <button class="btn btn-sm btn-danger disabled">
      - 50% Requerido
    </button>
    <button class="btn btn-sm btn-warning disabled">
      + 50% Requerido
    </button>
    <button class="btn btn-sm btn-success disabled">
      100% Requerido
    </button>
    <button class="btn btn-sm btn-primary disabled">
      + 100% Requerido
    </button>
  </div>
  <div class="card">
    <div class="bg-primary py-3 px-5 text-white">
      <h4>Estadisticas de equipo</h4>
    </div>
    <div class="card-body">
      <form class="row m-4 d-flex justify-content-center align-items-center align-items-center"
        [formGroup]="searchForm">
        <div class="form-group col-md-6 col-lg-4 pt-2">
          <label class="fw-bold form-label">Estado por departamento</label>
          <ng-select [items]="dataDepartments" [searchable]="false" class="custom-select rounded"
            bindLabel="nombre_departamento_votacion" bindValue="nombre_departamento_votacion"
            formControlName="departamentos" (change)="getSelectedDepartment($event)"
            notFoundText="No hay informacion disponible" placeholder="Seleccione departamento">
          </ng-select>
        </div>
        <div class="form-group col-md-6 col-lg-4 pt-2">
          <label class="fw-bold form-label">Estado por municipio</label>
          <ng-select [items]="dataMunicipals" class="custom-select rounded" bindLabel="nombre"
            (change)="getSelectedMunicipal($event)" bindValue="codigo_unico" formControlName="municipios"
            notFoundText="No hay informacion disponible" placeholder="Seleccione municipio">
          </ng-select>
        </div>
        <div class="form-group col-md-6 col-lg-4 pt-2">
          <label class="fw-bold form-label">Estado por zona</label>
          <ng-select [items]="dataZones" class="custom-select rounded" bindLabel="nombre" bindValue="codigo_unico"
            placeholder="Seleccione zona" (change)="getSelectedZone($event)"
            notFoundText="No hay informacion disponible" formControlName="zonas">
          </ng-select>
        </div>
        <div class="form-group col-md-6 col-lg-4 pt-2">
          <label class="fw-bold form-label">Estado por puesto</label>
          <ng-select [items]="dataStations" class="custom-select rounded" bindLabel="nombre" bindValue="codigo_unico"
            (change)="getSelectedStation($event)" notFoundText="No hay informacion disponible"
            placeholder="Seleccione puesto" formControlName="puestos">
          </ng-select>
        </div>
      </form>
    </div>
  </div>
  <ng-container [ngSwitch]="tabla">
    <div class="card mt-5" *ngSwitchCase="'gerente'">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table text-center align-middle">
            <thead class="text-dark align-middle">
              <tr>
                <th scope="col">GERENTES</th>
                <th scope="col">GERENTES POR ASIGNAR</th>
                <th scope="col">SUPERVISORES</th>
                <th scope="col">SUPERVISORES POR ASIGNAR</th>
                <th scope="col">COORDINADORES</th>
                <th scope="col">COORDINADORES POR ASIGNAR</th>
                <th scope="col">TESTIGOS</th>
                <th scope="col">TESTIGOS POR ASIGNAR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td
                  [ngClass]="textColor(gerentes.gerentes_con_municipio,gerentes.cantidad_gerentes_necesitados)">
                  {{gerentes.gerentes_con_municipio}}/{{gerentes.cantidad_gerentes_necesitados}}
                  {{createPercent(gerentes.gerentes_con_municipio,gerentes.cantidad_gerentes_necesitados)}}
                </td>
                <td>
                  {{gerentes.gerentes_sin_municipio}}
                </td>
                <td
                  [ngClass]="textColor(supervisores.supervisores_con_municipio,supervisores.cantidad_supervisores_necesitados)">
                  {{supervisores.supervisores_con_municipio}}/{{supervisores.cantidad_supervisores_necesitados}}
                  {{createPercent(supervisores.supervisores_con_municipio,supervisores.cantidad_supervisores_necesitados)}}
                </td>
                <td>
                  {{supervisores.supervisores_sin_zona}}
                </td>
                <td
                  [ngClass]="textColor(coordinadores.coordinadores_con_puesto,coordinadores.cantidad_coordinadores_necesitados)">
                  {{coordinadores.coordinadores_con_puesto}}/{{coordinadores.cantidad_coordinadores_necesitados}}
                  {{createPercent(coordinadores.coordinadores_con_puesto,coordinadores.cantidad_coordinadores_necesitados)}}
                </td>
                <td>
                  {{coordinadores.coordinadores_sin_puesto}}
                </td>
                <td
                  [ngClass]="textColor(testigos.testigos_con_mesa,testigos.cantidad_testigos_necesitadoss)">
                  {{testigos.testigos_con_mesa}}/{{testigos.cantidad_testigos_necesitados}}
                  {{createPercent(testigos.testigos_con_mesa,testigos.cantidad_testigos_necesitados)}}
                </td>
                <td>
                  {{testigos.testigos_sin_mesa}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card mt-5" *ngSwitchCase="'supervisor'">
      <div class="card-body">
        <div class="table-responsive" *ngIf="tabla">
          <table class="table text-center align-middle">
            <thead class="text-dark align-middle">
              <tr>
                <th scope="col">SUPERVISORES</th>
                <th scope="col">SUPERVISORES POR ASIGNAR</th>
                <th scope="col">COORDINADORES</th>
                <th scope="col">COORDINADORES POR ASIGNAR</th>
                <th scope="col">TESTIGOS</th>
                <th scope="col">TESTIGOS POR ASIGNAR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td
                  [ngClass]="textColor(supervisoresGerente.supervisores_con_municipio,supervisoresGerente.cantidad_supervisores_necesitadoss)">
                  {{supervisoresGerente.supervisores_con_municipio}}/{{supervisoresGerente.cantidad_supervisores_necesitadoss}}
                  {{createPercent(supervisoresGerente.supervisores_con_municipio,supervisoresGerente.cantidad_supervisores_necesitadoss)}}
                </td>
                <td>
                  {{supervisoresGerente.supervisores_sin_zona}}
                </td>
                <td
                  [ngClass]="textColor(coordinadoresGerente.coordinadores_con_puesto,coordinadoresGerente.cantidad_coordinadores_necesitados)">
                  {{coordinadoresGerente.coordinadores_con_puesto}}/{{coordinadoresGerente.cantidad_coordinadores_necesitados}}
                  {{createPercent(coordinadoresGerente.coordinadores_con_puesto,coordinadoresGerente.cantidad_coordinadores_necesitados)}}
                </td>
                <td>
                  {{coordinadoresGerente.coordinadores_sin_puesto}}
                </td>
                <td
                  [ngClass]="textColor(testigosGerente.testigos_con_mesa,testigosGerente.cantidad_testigos_necesitados)">
                  {{testigosGerente.testigos_con_mesa}}/{{testigosGerente.cantidad_testigos_necesitados}}
                  {{createPercent(testigosGerente.testigos_con_mesa,testigosGerente.cantidad_testigos_necesitados)}}
                </td>
                <td>
                  {{testigosGerente.testigos_sin_mesa}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card mt-5" *ngSwitchCase="'coordinador'">
      <div class="card-body">
        <div class="table-responsive" *ngIf="tabla">
          <table class="table text-center align-middle">
            <thead class="text-dark align-middle">
              <tr>
                <th scope="col">COORDINADORES</th>
                <th scope="col">COORDINADORES POR ASIGNAR</th>
                <th scope="col">TESTIGOS</th>
                <th scope="col">TESTIGOS POR ASIGNAR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td
                  [ngClass]="textColor(coordinadoresSupervisor.coordinadores_con_puesto,coordinadoresSupervisor.cantidad_coordinadores_necesitados)">
                  {{coordinadoresSupervisor.coordinadores_con_puesto}}/{{coordinadoresSupervisor.cantidad_coordinadores_necesitados}}
                  {{createPercent(coordinadoresSupervisor.coordinadores_con_puesto,coordinadoresSupervisor.cantidad_coordinadores_necesitados)}}
                </td>
                <td>
                  {{coordinadoresSupervisor.coordinadores_sin_puesto}}
                </td>
                <td
                  [ngClass]="textColor(testigosSupervisor.testigos_con_mesa,testigosSupervisor.cantidad_testigos_necesitados)">
                  {{testigosSupervisor.testigos_con_mesa}}/{{testigosSupervisor.cantidad_testigos_necesitados}}
                  {{createPercent(testigosSupervisor.testigos_con_mesa,testigosSupervisor.cantidad_testigos_necesitados)}}
                </td>
                <td>
                  {{testigosSupervisor.testigos_sin_mesa}}
                </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card mt-5" *ngSwitchCase="'testigo'">
      <div class="card-body">
        <div class="table-responsive" *ngIf="tabla">
          <table class="table text-center align-middle">
            <thead class="text-dark align-middle">
              <tr>
                <th scope="col">TESTIGOS</th>
                <th scope="col">TESTIGOS POR ASIGNAR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td
                  [ngClass]="textColor(testigosCoordinador.testigos_con_mesa,testigosCoordinador.cantidad_testigos_necesitados)">
                  {{testigosCoordinador.testigos_con_mesa}}/{{testigosCoordinador.cantidad_testigos_necesitados}}
                  {{createPercent(testigosCoordinador.testigos_con_mesa,testigosCoordinador.cantidad_testigos_necesitados)}}
                </td>
                <td>
                  {{testigosCoordinador.testigos_sin_mesa}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</div>