<app-menu-admin></app-menu-admin>
<section id="mundo">
  <div class="container py-5">
    <div class="card">
      <div class="bg-info py-3 px-5 text-white">
        <h4>Consulta de puestos</h4>
      </div>
      <div class="card-body">
        <div class="row m-4 d-flex justify-content-center align-items-center align-items-center">
          <div class="form-group col-md-4">
            <label class="fw-bold ">Departamentos</label>
            <ng-multiselect-dropdown name="departamentos" [placeholder]="'Departamentos'"
              [settings]="dropdownSettingsDepartments" [data]="dataDepartments"
              (onSelect)="onItemSelectDepartment($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-curved text-center">
            <thead class="text-dark">
              <tr>
                <th scope="col">GERENTES</th>
                <th scope="col">GERENTES POR ASIGNAR</th>
                <th scope="col">SUPERVISORES</th>
                <th scope="col">SUPERVISORES POR ASIGNAR</th>
                <th scope="col">COORDINADORES</th>
                <th scope="col">COORDINADORES POR ASIGNAR</th>
                <th scope="col">TESTIGOS</th>
                <th scope="col">TESTIGOS POR ASIGNAR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td>{{data.gerentes.cantidad_gerentes_existentes}}/{{data.gerentes.cantidad_gerentes_necesitados}}</td>
                <td>{{data.gerentes.cantidad_gerentes_por_asignar}}</td>
                <td>{{data.supervisores.cantidad_supervisores_existentes}}/{{data.supervisores.cantidad_supervisores_necesitados}}</td>
                <td>{{data.supervisores.cantidad_supervisores_por_asignar}}</td>
                <td>{{data.coordinadores.cantidad_coordinadores_existentes}}/{{data.coordinadores.cantidad_coordinadores_necesitados}}</td>
                <td>{{data.coordinadores.cantidad_coordinadores_por_asignar}}</td>
                <td>{{data.testigos.cantidad_testigos_existentes}}/{{data.testigos.cantidad_testigos_necesitados}}</td>
                <td>{{data.testigos.cantidad_testigos_por_asignar}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>