// Animación para el menú de temas
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

// Burbuja siempre esté visible
:host {
  display: block;
  pointer-events: none;
  
  > div {
    pointer-events: auto;
  }
}


