<div class="container py-5">
  <div class="card">
    <div class="bg-primary py-3 px-5 text-white">
      <h4>
        Hola {{ nombreCoordinador }} ¡Vamos a proteger los votos de
        {{ nombreCliente }}!
      </h4>
    </div>
    <div class="card-body"></div>
    <div [hidden]="!tabla">
      <ul class="nav nav-tabs mt-5" id="myTab">
        <li class="nav-item" id="tab">
          <button
            class="nav-link h4 px-md-5 active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#porrevisar"
            type="button"
            role="tab"
          >
            POR REVISAR (E14)
          </button>
        </li>
        <li class="nav-item" id="tab">
          <button
            class="nav-link h4 px-md-5"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#impugnados"
            type="button"
            role="tab"
          >
            POR REVISAR (TRANSMISION)
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          id="porrevisar"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="d-flex py-4 justify-content-center align-items-center">
            <h5 class="modal-title" id="exampleModalLabel">
              Busca: <strong>Error artimético</strong>
            </h5>
          </div>
          <div class="row">
            <div class="col-9">
              <iframe
                [src]="urlImpugnados"
                *ngIf="urlImpugnados"
                class="e-14 py-1 px-4"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-3">
              <form class="form-group" [formGroup]="createForm">
                <div class="py-1">
                  <label>
                    <strong>Página</strong>
                  </label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Número de página"
                    formControlName="pagina"
                    id="pagina"
                  />
                </div>
                <div class="py-1">
                  <label>
                    <strong>Observaciones</strong>
                  </label>
                  <textarea
                    formControlName="observaciones"
                    class="form-control"
                    rows="3"
                    id="observaciones"
                  ></textarea>
                </div>
                <div class=" py-2">
                  <button type="button" class="btn btn-dark mx-2" (click)="atras()">
                    Atrás
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary mx-2"
                    (click)="impugnar()"
                  >
                    Siguiente
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
