<div class="container">
    <div class=" pt-5 ">

        <div class="row d-flex justify-content-center align-items-center align-items-stretch">
            <div
                class="col-md-3 border border-info bg-light rounded border-3 bordeFormulario d-flex justify-content-center align-items-center">
                <div class="m-3">
                    <span class="fw-bold">COORDINADOR A CARGO:</span>
                    <p class=""></p>
                    <span class="fw-bold">CAMPAÑA:</span>
                    <p class=""></p>
                    <span class="fw-bold">CIRCUNSCRIPCION:</span>
                    <p class=""></p>
                    <span class="fw-bold">PUESTO DE VOTACION:</span>
                    <p class=""></p>
                    <span class="fw-bold">ZONA:</span>
                    <p class=""></p>
                    <span class="fw-bold">MESAS DE VOTACION:</span>
                    <p class=""></p>
                </div>
            </div>

            <div class="col-md-9 mt-3 d-flex justify-content-center align-items-center">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/SQNtGoM3FVU" title="YouTube video"
                        allowfullscreen></iframe>
                </div>

            </div>

        </div>
        <div class="ms-auto col-md-3 mt-5 py-5 px-3 panelidentificador">
            <h4> Bienvenido Testigo</h4>
        </div>
    </div>

</div>