<section>
    <app-menu-admin></app-menu-admin>
    <form class="container py-5" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="bg-primary py-3 px-5 text-white">
                <h4 class="m-0">
                    Añadir Testigo
                </h4>
            </div>
            <div class="card-body">
                <h4 class="ms-4 fw-bolder">
                    Datos Personales
                </h4>
                <div class="row m-4">
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Nombres</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control border-2 border-dark rounded" formControlName="nombres"
                            (keypress)="keypressValidator.keyPressLetters($event)" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Apellidos</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control border-2 border-dark rounded" formControlName="apellidos"
                            (keypress)="keypressValidator.keyPressLetters($event)" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Genero</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [searchable]="false" class="custom-select rounded" formControlName="genero_id">
                            <ng-option [value]="1">Masculino</ng-option>
                            <ng-option [value]="2">Femenino</ng-option>
                            <ng-option [value]="3">Otro</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Tipo de documento</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [searchable]="false" class="custom-select rounded"
                            formControlName="tipo_documento_id">
                            <ng-option [value]="1">Cedula de ciudadania</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Numero de documento</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="number" class="form-control border-2 border-dark rounded"
                            formControlName="numero_documento" (keypress)="keypressValidator.keyPressNumbers($event)">
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label fw-bold">Telefono</label>
                        <input type="number" class="form-control border-2 border-dark rounded"
                            formControlName="telefono" (keypress)="keypressValidator.keyPressNumbers($event)">
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Correo electronico</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="email" class="form-control border-2 border-dark rounded" formControlName="email">
                        <small class="text-danger"
                            *ngIf="createFormControl['email'].errors?.['email'] || createFormControl['email'].errors?.['invalidEmail']">
                            Ingrese una direccion de correo electronico valido.
                        </small>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Contraseña</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password" class="form-control border-2 border-dark rounded"
                            formControlName="password">
                        <small class="text-danger" *ngIf="createFormControl['password'].errors?.['minlength']">
                            La contraseña debe tener al menos 8 caracteres.
                        </small>
                    </div>
                </div>
                <hr class="mx-4 border border-primary rounded border-2" />
                <h4 class="ms-4 fw-bolder">
                    Lugar de Trabajo
                </h4>
                <div class="row mx-4 my-4">
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="fw-bold form-label">
                            <span class="fw-bold">Departamento de votacion</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [items]="dataDepartments" [searchable]="false" class="custom-select rounded"
                            bindLabel="nombre_departamento_votacion" bindValue="nombre_departamento_votacion"
                            (change)="getSelectedDepartment($event)" notFoundText="No hay informacion disponible">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="fw-bold form-label">
                            <span class="fw-bold">Municipio de votacion</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [items]="dataMunicipals" class="custom-select rounded" bindLabel="nombre"
                            bindValue="codigo_unico" (change)="getSelectedMunicipal($event)"
                            notFoundText="No hay informacion disponible" [(ngModel)]="selectedMunicipal"
                            [ngModelOptions]="{standalone: true}">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="fw-bold form-label">
                            <span class="fw-bold">Zona de votacion</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [items]="dataZones" class="custom-select rounded" bindLabel="nombre"
                            bindValue="codigo_unico" (change)="getSelectedZone($event)"
                            notFoundText="No hay informacion disponible" [(ngModel)]="selectedZone"
                            [ngModelOptions]="{standalone: true}">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="fw-bold form-label">
                            <span class="fw-bold">Puesto de votacion</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [items]="dataStations" [searchable]="false" class="custom-select rounded"
                            formControlName="puesto" bindLabel="nombre" bindValue="codigo_unico"
                            (change)="getSelectedStation($event)" notFoundText="No hay informacion disponible">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="fw-bold form-label">Mesas de votacion</label>
                        <ng-select [items]="dataTables" class="custom-multiple-select rounded" formControlName="mesas"
                            bindLabel="numero_mesa" bindValue="codigo_unico" [multiple]="true"
                            notFoundText="No hay informacion disponible">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end pt-4">
            <button type="submit" class="btn btn-lg btn-primary mx-2 rounded">CREAR</button>
        </div>
    </form>
    <app-footer></app-footer>
</section>