<div class="container py-5">
    <div class="bg-primary py-3 px-5 text-white">
        <h4>Consultar gerentes</h4>
    </div>
    <ul class="nav nav-tabs mt-5" id="myTab">
        <li class="nav-item" id="tab">
            <button class="nav-link h4 px-md-5 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#asignados"
                type="button" role="tab">Asignados</button>
        </li>
        <li class="nav-item" id="tab">
            <button class="nav-link h4 px-md-5" id="profile-tab" data-bs-toggle="tab" data-bs-target="#noasignados"
                type="button" role="tab">No asignados</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="asignados" role="tabpanel">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="table-responsive my-4" *ngIf="listGerenteAsignados.length>0;else municipio_content">
                        <table datatable [dtOptions]="dtOptionsGerenteAsignados" [dtTrigger]="dtTrigger"
                            class="table text-center align-middle w-100">
                            <thead class="text-dark align-middle">
                                <tr>
                                    <th scope="col">NOMBRE COMPLETO</th>
                                    <th scope="col">TELEFONO</th>
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">MUNICIPIOS</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let gerente of listGerenteAsignados;let index=index">
                                    <td>{{gerente.nombres}} {{gerente.apellidos}}</td>
                                    <td>{{gerente.telefono}}</td>
                                    <td>{{gerente.email}}</td>
                                    <td>{{listMunicipals[index]}}</td>
                                    <td>
                                        <div class="d-grid gap-1 d-md-flex justify-content-center align-items-center">
                                            <button class="btn align-middle" data-bs-toggle="modal"
                                                data-bs-target="#gerente"
                                                (click)="gerenteActualSeleccionado(gerente,listMunicipals[index])"
                                                data-bs-placement="top" title="Ver más">
                                                <i class="fa-solid fa-eye text-primary"></i>
                                            </button>
                                            <button class="btn align-middle" (click)="redirectUpdateGerente(gerente.id)"
                                                data-bs-placement="top" title="Editar información">
                                                <i class="fa-solid fa-pen text-primary"></i>
                                            </button>
                                            <button class="btn align-middle" data-bs-placement="top"
                                                title="Cambiar de rol" (click)="redirectSwitchRolGerente(gerente.id)">
                                                <img src="../../../../assets/changeRol.svg" class="icon-change-rol">
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #municipio_content>
                        <p class="text-center mb-0">No hay gerentes con asignacion de municipio.</p>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="noasignados" role="tabpanel">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="table-responsive my-4"
                        *ngIf="listGerenteNoAsignados.length>0;else no_municipio_content">
                        <table class="table text-center align-middle w-100" datatable
                            [dtOptions]="dtOptionsGerenteNoAsignados" [dtTrigger]="dtTrigger">
                            <thead class="text-dark align-middle">
                                <tr>
                                    <th scope="col">NOMBRE COMPLETO</th>
                                    <th scope="col">TELEFONO</th>
                                    <th scope="col">CORREO ELECTRONICO</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let gerente of listGerenteNoAsignados;let index=index">
                                    <td>{{gerente.nombres}} {{gerente.apellidos}}</td>
                                    <td>{{gerente.telefono}}</td>
                                    <td>{{gerente.email}}</td>
                                    <td>
                                        <div class="d-grid gap-1 d-md-flex justify-content-center align-items-center">
                                            <button class="btn align-middle" data-bs-toggle="modal"
                                                data-bs-target="#gerente" (click)="gerenteActualSeleccionado(gerente)"
                                                data-bs-placement="top" title="Ver más">
                                                <i class="fa-solid fa-eye text-primary"></i>
                                            </button>
                                            <button class="btn align-middle" (click)="redirectUpdateGerente(gerente.id)"
                                                data-bs-placement="top" title="Editar información">
                                                <i class="fa-solid fa-pen text-primary"></i>
                                            </button>
                                            <button class="btn align-middle" data-bs-placement="top"
                                                title="Cambiar de rol" data-bs-toggle="modal"
                                                data-bs-target="#cambiarRol">
                                                <i class="fa-solid fa-people-arrows-left-right text-primary"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #no_municipio_content>
                        <p class="text-center mb-0">No hay gerentes sin asignacion de municipio.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gerente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="fw-bolder">Nombre completo: </span><span> {{gerenteActual.nombres}}
                        {{gerenteActual.apellidos}}</span></p>
                <p><span class="fw-bolder">Telefono: </span><span> {{gerenteActual.telefono}}</span></p>
                <p><span class="fw-bolder">Correo electronico: </span><span> {{gerenteActual.email}}</span></p>
                <p><span class="fw-bolder">Numero de documento: </span><span> {{gerenteActual.numero_documento}}</span>
                </p>
                <p [ngClass]="{'d-none': !municipiosActual}"><span class="fw-bolder">Municipios: </span><span>
                        {{municipiosActual}}</span></p>
            </div>
        </div>
    </div>
</div>
