<div class="container py-5">
    <div class="bg-primary py-3 px-5 text-white">
        <h4>Consultar Supervisor</h4>
    </div>
    <ul class="nav nav-tabs mt-5" id="myTab">
        <li class="nav-item" id="tab">
            <button class="nav-link h4 px-5 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#asignados"
                type="button" role="tab">Asignados</button>
        </li>
        <li class="nav-item" id="tab">
            <button class="nav-link h4 px-5" id="profile-tab" data-bs-toggle="tab" data-bs-target="#noasignados"
                type="button" role="tab">No asignados</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="asignados" role="tabpanel">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="table-responsive" *ngIf="listSupervisorAsignados.length>0;else zona_content">
                        <table class="table text-center align-middle">
                            <thead class="text-dark align-middle">
                                <tr>
                                    <th scope="col">NOMBRE COMPLETO</th>
                                    <th scope="col">CORREO ELECTRONICO</th>
                                    <th scope="col">ZONAS</th>
                                    <th scope="col">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white" *ngFor="let supervisor of listSupervisorAsignados;let index=index">
                                    <td>{{supervisor.nombres}} {{supervisor.apellidos}}</td>
                                    <td>{{supervisor.email}}</td>
                                    <td>{{listZones[index]}}</td>
                                    <td>
                                        <a class="rounded-circle" (click)="redirectUpdateSupervisor(supervisor.id)">
                                            <i class="fas fa-pen text-primary"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #zona_content>
                        <p class="text-center mb-0">No hay Supervisores con asignacion de zona.</p>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="noasignados" role="tabpanel">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="table-responsive" *ngIf="listSupervisorNoAsignados.length>0;else no_zona_content">
                        <table class="table text-center align-middle">
                            <thead class="text-dark align-middle">
                                <tr>
                                    <th scope="col">NOMBRE COMPLETO</th>
                                    <th scope="col">CORREO ELECTRONICO</th>
                                    <th scope="col">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white" *ngFor="let supervisor of listSupervisorNoAsignados">
                                    <td>{{supervisor.nombres}} {{supervisor.apellidos}}</td>
                                    <td>{{supervisor.email}}</td>
                                    <td>
                                        <a class="rounded-circle" (click)="redirectUpdateSupervisor(supervisor.id)">
                                            <i class="fas fa-pen text-primary"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #no_zona_content>
                        <p class="text-center mb-0">No hay Supervisores sin asignacion de zona.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>