<section>
    <app-menu-admin *ngIf="this.rol == 1"></app-menu-admin>
    <app-menu-gerente *ngIf="rol == 2"></app-menu-gerente>
    <app-menu-supervisor *ngIf="rol == 3"></app-menu-supervisor>
    <app-menu-coordinador *ngIf="rol == 4"></app-menu-coordinador>
    <app-menu-testigo *ngIf="rol == 5"></app-menu-testigo>
    <app-menu-impugnador *ngIf="rol == 8"></app-menu-impugnador>

    <form class="container py-5" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="bg-primary py-3 px-5 text-white">
            <h4>Edita tus datos</h4>
        </div>
        <div class="d-flex justify-content-center">
            <i class="fa-solid fa-circle-user fa-10x my-4 text-dark bg-primary rounded-circle"></i>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row m-4 d-flex justify-content-center">
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Nombres</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control border-2 border-dark rounded" formControlName="nombres"
                            (keypress)="keypressValidator.keyPressLetters($event)" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Apellidos</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control border-2 border-dark rounded" formControlName="apellidos"
                            (keypress)="keypressValidator.keyPressLetters($event)" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Genero</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [searchable]="false" class="custom-select rounded" formControlName="genero_id">
                            <ng-option [value]="1">Masculino</ng-option>
                            <ng-option [value]="2">Femenino</ng-option>
                            <ng-option [value]="3">Otro</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Tipo de documento</span>
                            <span class="text-danger">*</span>
                        </label>
                        <ng-select [searchable]="false" class="custom-select rounded"
                            formControlName="tipo_documento_id">
                            <ng-option [value]="1">Cedula de ciudadania</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Numero de documento</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="number" class="form-control border-2 border-dark rounded"
                            formControlName="numero_documento" (keypress)="keypressValidator.keyPressNumbers($event)">
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label fw-bold">Telefono</label>
                        <input type="number" class="form-control border-2 border-dark rounded"
                            formControlName="telefono" (keypress)="keypressValidator.keyPressNumbers($event)">
                    </div>
                    <div class="form-group col-md-6 col-lg-4 pt-2">
                        <label class="form-label">
                            <span class="fw-bold">Correo electronico</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="email" class="form-control border-2 border-dark rounded" formControlName="email">
                        <small class="text-danger"
                            *ngIf="createFormControl['email'].errors?.['email'] || createFormControl['email'].errors?.['invalidEmail']">
                            Ingrese una direccion de correo electronico valido.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end pt-4">
            <button type="submit" class="btn btn-lg btn-primary mx-2 rounded">EDITAR</button>
        </div>
    </form>
    <app-footer></app-footer>
</section>