<header class="bg-dark p-4">
    <a class="navbar-brand mx-4" href="#"><img src="../../../assets/logoTheVoteRadar.png" class="img-logo"></a>
</header>

<div class="container py-5 px">
    <div class="row py-5">
        <div class="col-md-6 pe-md-5 d-flex align-items-center">
            <article>
                <div class="text-center py-3">
                    <h1 class="text-info"> <strong>THE VOTE RADAR</strong></h1>
                    <h3>The vote radar es perfecto para que estes al tanto de tu campaña electoral.</h3>
                </div>

                <div>
                    <ul class="list-inline text-center redes">
                        <li class="list-inline-item px-2">
                            <a class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center"
                                href="https://www.facebook.com/" target="blank"><i
                                    class="fab fa-facebook-f fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item px-2">
                            <a class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center"
                                href="https://www.instagram.com/?hl=es" target="blank"><i
                                    class="fab fa-instagram fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item px-2">
                            <a class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center"
                                href="https://www.whatsapp.com/?lang=es" target="blank"><i
                                    class="fab fa-whatsapp fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item px-2">
                            <a class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center"
                                href="https://twitter.com/?lang=es" target="blank"><i
                                    class="fab fa-twitter fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-md-6 ps-md-5 pt-5  ">
            <div class="card rounded shadow-lg">
                <div class="card-body">
                    <article class="px-5">
                        <div class="d-flex justify-content-center py-3">
                            <i class="fas fa-user-circle fa-8x bg-primary rounded-circle text-dark"></i>
                        </div>
                        <div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.numero_documento" placeholder="Usuario"
                                    class="form-control form-control-lg mt-3">
                            </div>
                            <div class="form-group">
                                <input type="password" [(ngModel)]="user.password" placeholder="Contraseña"
                                    class="form-control form-control-lg mt-3">
                            </div>
                            <div class="form-group d-flex justify-content-center my-5">
                                <button class="btn btn-lg btn-info px-5 rounded" (click)="login()">INICIAR</button>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <p>0.0.1</p>
</div>