<app-menu-supervisor></app-menu-supervisor>
<div class="container-md">
    <div class=" pt-5 my-5">
        <div class="bg-info my-5 py-2 px-5 text-white mb-5 ">
            <h4>Añadir Coordinador</h4>
        </div>
        <div class=" border border-info bg-light rounded border-3 bordeFormulario">
            <form class="row mx-5  my-4">
                <div class="form-group col-md-4 pt-3">
                    <label class="fw-bold">Nombres</label>
                    <input type="text" [(ngModel)]="coordinador.nombres"
                        class="form-control border-2 border-dark rounded" id="txtNombres" placeholder="Nombres"
                        name="nombres" required>
                </div>
                <div class="form-group col-md-4 pt-3">
                    <label class="fw-bold">Apellidos</label>
                    <input type="text" [(ngModel)]="coordinador.apellidos" required
                        class="form-control border-2 border-dark rounded" id="txtApellidos" placeholder="Apellidos"
                        name="apellidos">
                </div>
                <div class="form-group col-md-4 pt-3">
                    <label class="fw-bold">Genero</label>
                    <select class="form-select border-2 border-dark rounded" aria-label="Default select example"
                        name="genero" [(ngModel)]="coordinador.genero_id">
                        <option selected value="">Seleccione el genero</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                        <option value="3">Otro</option>
                    </select>
                </div>
                <div class="form-group col-md-4 pt-3">
                    <label class="fw-bold">Tipo de documento</label>
                    <select class="form-select border-2 border-dark rounded" aria-label="Default select example"
                        name="tipo_documento_id" [(ngModel)]="coordinador.tipo_documento_id">
                        <option selected value="">Seleccione el tipo de documento</option>
                        <option value="1">Cedula de ciudadania</option>
                    </select>
                </div>
                <div class="form-group col-md-4 pt-3">
                    <label class="fw-bold">Numero de documento</label>
                    <input type="number" [(ngModel)]="coordinador.numero_documento" required
                        class="form-control border-2 border-dark rounded" id="txtNumeroDocumento"
                        placeholder="Numero de documento" name="numero_documento">
                </div>
                <div class="form-group col-md-4 pt-3">
                    <label class="fw-bold ">Zonas</label>
                    <ng-multiselect-dropdown name="zonas" [placeholder]="'Zonas'" [settings]="dropdownSettingsZones"
                        [data]="dataZones" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect()">
                    </ng-multiselect-dropdown>
                </div>
                <div class="form-group col-md-4 pt-3">
                    <label class="fw-bold ">Puestos</label>
                    <ng-multiselect-dropdown name="puestos" [placeholder]="'Puestos'"
                        [settings]="dropdownSettingsStations" [data]="dataFiltered" [(ngModel)]="selectedStations">
                    </ng-multiselect-dropdown>
                </div>
                <hr class="my-4 border border-primary rounded border-2" />
                <div class="form-group col-md-4">
                    <label class="fw-bold">Email</label>
                    <input type="email" [(ngModel)]="coordinador.email" required
                        class="form-control border-2 border-dark rounded " id="txtEmail" placeholder="Email"
                        name="email">
                </div>
                <div class="form-group col-md-4">
                    <label class="fw-bold">Password</label>
                    <input type="password" [(ngModel)]="coordinador.password" required
                        class="form-control border-2 border-dark rounded" id="txtPassword" placeholder="Password"
                        name="password">
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-info mt-4 mx-2 rounded" (click)="createCoordinador()"> CREAR
            </button>
        </div>
    </div>
</div>