<footer class="bg-dark d-flex align-items-center mt-auto">
    <ul class="list-inline text-start redes m-0 w-100 text-center">
        <li class="list-inline-item">
            <a class="text-white text-decoration-none px-3"
                href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f fa-xl"></i></a>
        </li>
        <li class="list-inline-item">
            <a class="text-white text-decoration-none px-3"
                href="https://www.instagram.com/?hl=es" target="blank"><i class="fab fa-instagram fa-xl"></i></a>
        </li>
        <li class="list-inline-item">
            <a class="text-white text-decoration-none px-3"
                href="https://www.whatsapp.com/?lang=es" target="blank"><i class="fab fa-whatsapp fa-xl"></i></a>
        </li>
        <li class="list-inline-item">
            <a class="text-white text-decoration-none px-3"
                href="https://twitter.com/?lang=es" target="blank"><i class="fab fa-twitter fa-xl"></i></a>
        </li>
    </ul>
</footer>