<app-menu-gerente></app-menu-gerente>

<div class="container-fluid">


  <div class="py-5 px-md-5 ">
    <div class="bg-info py-2 px-5 text-white mb-5 me-5">
      <h4>Puestos</h4>
    </div>

    <div class="shadow-lg mt-5 mb-3 ">
      <div class="bg-black py-3 px-5 text-white">
        <h4>Consulta puestos</h4>
      </div>

      <div class="table-responsive">
      <table class="table text-center ">
        <thead class="encatablecolor bg-info text-white">
          <tr>
            <th scope="col">ZONA</th>
            <th scope="col">SUPERVISORES HAY/SE NECESITAN</th>
            <th scope="col">COORDINADORES HAY/SE NECESITAN</th>
            <th scope="col">TESTIGOS HAY/SE NECESITAN</th>
          </tr>
        </thead>
        <tbody >
          <tr  >
            <td>ZONA 01</td>
            <td>0/4</td>
            <td>0/8</td>
            <td>0/16</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

  </div>
</div>