<li class="nav-item dropdown" [routerLinkActive]="['link-active']">
  <a
    class="nav-link ps-lg-3 text-white"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fas fa-user-circle fa-2xl icono"></i>
  </a>
  <ul
    class="dropdown-menu bg-dark border border-secondary"
    aria-labelledby="navbarDropdown"
  >
    <li>
      <a
        class="dropdown-item text-white"
        [routerLink]="['/editarPerfil']"
        [routerLinkActive]="['sublink-active']"
      >
        Actualizar datos
      </a>
    </li>
    <li>
      <a class="dropdown-item text-white" (click)="logout()">Cerrar sesion</a>
    </li>
  </ul>
</li>
