<div class="container">
  <div class="py-5">
    <button class="btn btn-primary btn-lg" data-bs-toggle="offcanvas" data-bs-target="#offcanvasReporte"
      data-bs-placement="top" title="Agregar reporte de incidencias">
      <i class="fas fa-plus-circle fa-2x align-middle"></i>
      <span class="mx-3 fw-bold align-middle">Agregar incidencias</span>
    </button>
    <div class="card mt-3">
      <div class="card-body">
        <div class="table-responsive" *ngIf="dataIncidencias.length>0;else incidencias_content">
          <table class="table text-center align-middle">
            <thead class="text-dark align-middle">
              <tr>
                <th scope="col">CATEGORIA</th>
                <th scope="col">ESTADO</th>
                <th scope="col">OPCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white" *ngFor="let incidencia of dataIncidencias">
                <td>{{incidencia.categoria}}</td>
                <td>{{(incidencia.estado==0)?"Abierto":"Cerrado"}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary text-truncate" data-bs-toggle="modal" data-bs-placement="top" title="Ver reporte"
                    data-bs-target="#incidenciaAbierta" (click)="ModalIncidenciaActual(incidencia)">
                    Ver reporte
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #incidencias_content>
          <p class="text-center mb-0">No hay incidencias.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- REPORTAR INCIDENCIA -->

<div class="offcanvas offcanvas-start w-35 " tabindex="-1" id="offcanvasReporte" data-bs-keyboard="false">
  <div class="c-contactos bg-primary py-4">
    <div class="offcanvas-header ">
      <h4 class="offcanvas-title text-white" id="offcanvas">Crear Reporte</h4>
      <div class="d-flex align-items-end">
        <button type="button" class="btn p-0" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fa-solid fa-xmark text-white fa-2xl"></i>
        </button>
      </div>
    </div>

  </div>
  <div
    class="offcanvas-body px-0 bg-secondary border border-primary border-5 border-top-0 border-bottom-0 border-start-0">
    <form class="mx-4" [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-group pt-3">
        <label class="form-label">
          <span class="fw-bold">Asunto</span>
          <span class="text-danger">*</span>
        </label>
        <ng-select [items]="categoryIncidencias" [searchable]="false" class="custom-select rounded"
          formControlName="categoria_id" bindLabel="nombre" bindValue="id" notFoundText="No hay informacion disponible"
          placeholder="Seleccione asunto">
        </ng-select>
      </div>
      <div class="form-group pt-3">
        <label class="form-label">
          <span class="fw-bold">Mesa</span>
          <span class="text-danger">*</span>
        </label>
        <ng-select [items]="mesas_asignadas" [searchable]="false" class="custom-select rounded"
          formControlName="codigo_mesa" bindLabel="numero_mesa" bindValue="codigo_unico"
          notFoundText="No hay informacion disponible" placeholder="Seleccione mesa">
        </ng-select>
      </div>
      <div class="form-group pt-3">
        <label class="form-label">
          <span class="fw-bold">Descripcion</span>
          <span class="text-danger">*</span>
        </label>
        <textarea class="form-control border-2 border-dark rounded" rows="5" formControlName="descripcion"
          placeholder="Escriba una descripcion de la incidencia"></textarea>
      </div>
      <div class="form-group pt-3">
        <label class="form-label">
          <span class="fw-bold">Archivo adjunto</span>
          <span class="text-danger">*</span>
        </label>
        <ngx-dropzone (change)="onSelect($event)" [accept]="'image/png, image/jpeg'" [expandable]="true">
          <ngx-dropzone-label>
            <i class="fas fa-paperclip text-primary fa-lg"></i> Adjuntar Archivo (maximo 10MB)
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
            [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
      <div class="d-flex justify-content-end pt-5">
        <button type="submit" class="btn btn-primary ">
          Enviar Reporte
        </button>
      </div>
    </form>


  </div>
</div>

<div class="modal fade" id="incidenciaAbierta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">REPORTE #{{incidenciaActual.id}}</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark text-white"></i>
        </button>
      </div>
      <div class="modal-body">
        <p><span class="fw-bolder">Estado: </span><span> {{(incidenciaActual.estado==0)?"Abierto":"Cerrado"}}</span></p>
        <p><span class="fw-bolder">Categoria: </span><span> {{incidenciaActual.categoria}}</span></p>
        <p class="fw-bolder">Descripcion: </p>
        <p>
          {{incidenciaActual.descripcion}}
        </p>
        <p class="fw-bolder">Archivos adjuntos: </p>
        <si-ng-lightbox [showPreviews]="true" *ngIf="photos.length>0" class="d-grid d-flex justify-content-center">
          <img *ngFor="let img of photos" src="{{img.url_archivo}}" [previewSrc]="img.url_archivo"
              [siLightboxItem]="img.url_archivo" class="imgItem col-4" />
      </si-ng-lightbox>
      </div>
    </div>
  </div>
</div>